.git
.gitignore

.env

node_modules
npm-debug.log

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

docker-compose.yml
docker-compose.prod.yml

README.md
